# import the libraries

In [1]:
import numpy as np 
import pandas as pd

# load the file(csv)

In [2]:
dataframe=pd.read_csv(r"C:\Users\ASUS\Desktop\codde\Weather _Data.csv")
dataframe

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,01-01-2012 00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,01-01-2012 01:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,01-01-2012 02:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,01-01-2012 03:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,01-01-2012 04:00,-1.5,-3.3,88,7,4.8,101.23,Fog
...,...,...,...,...,...,...,...,...
8779,12/31/2012 19:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,12/31/2012 20:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,12/31/2012 21:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,12/31/2012 22:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,12/31/2012 23:00,0.0,-2.1,86,30,11.3,99.89,Snow

In [3]:
#head() print by default first five column
dataframe.head()

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,01-01-2012 00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,01-01-2012 01:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,01-01-2012 02:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,01-01-2012 03:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,01-01-2012 04:00,-1.5,-3.3,88,7,4.8,101.23,Fog

# how to rename the columns name

In [4]:
# dataframe.rename(columns={"Rel Hum_%":"Humidity"})     
#for single column also this change the column name for temporary basis but if we want make changes permanently then we will use
# dataframe.rename(columns={"Rel Hum_%":"Humidity"},inplace=True) 


dataframe.rename(columns={"Dew Point Temp_C":"Dew_point_TempC","Rel Hum_%":"Humidity","Wind Speed_km/h":"Wind_speed_km\h"},inplace =True)

In [5]:
# shape describe the total number of row and column in the dataframe
dataframe.shape

(8784, 8)

In [6]:
# to know about datatypes
dataframe.dtypes

Date/Time           object
Temp_C             float64
Dew_point_TempC    float64
Humidity             int64
Wind_speed_km\h      int64
Visibility_km      float64
Press_kPa          float64
Weather             object
dtype: object

In [7]:
# to know about index number by default it show +1 step
dataframe.index

RangeIndex(start=0, stop=8784, step=1)

In [8]:
# to get the columns name
dataframe.columns

Index(['Date/Time', 'Temp_C', 'Dew_point_TempC', 'Humidity', 'Wind_speed_km\h',
       'Visibility_km', 'Press_kPa', 'Weather'],
      dtype='object')

In [9]:
# to get unique values only from one column 
dataframe['Weather'].unique()

array(['Fog', 'Freezing Drizzle,Fog', 'Mostly Cloudy', 'Cloudy', 'Rain',
       'Rain Showers', 'Mainly Clear', 'Snow Showers', 'Snow', 'Clear',
       'Freezing Rain,Fog', 'Freezing Rain', 'Freezing Drizzle',
       'Rain,Snow', 'Moderate Snow', 'Freezing Drizzle,Snow',
       'Freezing Rain,Snow Grains', 'Snow,Blowing Snow', 'Freezing Fog',
       'Haze', 'Rain,Fog', 'Drizzle,Fog', 'Drizzle',
       'Freezing Drizzle,Haze', 'Freezing Rain,Haze', 'Snow,Haze',
       'Snow,Fog', 'Snow,Ice Pellets', 'Rain,Haze', 'Thunderstorms,Rain',
       'Thunderstorms,Rain Showers', 'Thunderstorms,Heavy Rain Showers',
       'Thunderstorms,Rain Showers,Fog', 'Thunderstorms',
       'Thunderstorms,Rain,Fog',
       'Thunderstorms,Moderate Rain Showers,Fog', 'Rain Showers,Fog',
       'Rain Showers,Snow Showers', 'Snow Pellets', 'Rain,Snow,Fog',
       'Moderate Rain,Fog', 'Freezing Rain,Ice Pellets,Fog',
       'Drizzle,Ice Pellets,Fog', 'Drizzle,Snow', 'Rain,Ice Pellets',
       'Drizzle,Snow,Fog', 'Rain,Snow Grains', 'Rain,Snow,Ice Pellets',
       'Snow Showers,Fog', 'Moderate Snow,Blowing Snow'], dtype=object)

In [10]:
# to count all the unique values in one column
dataframe['Weather'].value_counts()

Mainly Clear                               2106
Mostly Cloudy                              2069
Cloudy                                     1728
Clear                                      1326
Snow                                        390
Rain                                        306
Rain Showers                                188
Fog                                         150
Rain,Fog                                    116
Drizzle,Fog                                  80
Snow Showers                                 60
Drizzle                                      41
Snow,Fog                                     37
Snow,Blowing Snow                            19
Rain,Snow                                    18
Haze                                         16
Thunderstorms,Rain Showers                   16
Drizzle,Snow,Fog                             15
Freezing Rain                                14
Freezing Drizzle,Snow                        11
Freezing Drizzle                              7
Freezing Drizzle,Fog                          6
Snow,Ice Pellets                              6
Snow,Haze                                     5
Freezing Rain,Fog                             4
Rain,Snow,Ice Pellets                         4
Freezing Fog                                  4
Moderate Snow                                 4
Snow Showers,Fog                              4
Freezing Drizzle,Haze                         3
Thunderstorms,Rain                            3
Thunderstorms,Rain Showers,Fog                3
Rain,Haze                                     3
Thunderstorms                                 2
Moderate Snow,Blowing Snow                    2
Freezing Rain,Haze                            2
Drizzle,Snow                                  2
Rain Showers,Snow Showers                     2
Freezing Rain,Snow Grains                     1
Rain Showers,Fog                              1
Rain,Snow,Fog                                 1
Rain,Ice Pellets                              1
Drizzle,Ice Pellets,Fog                       1
Rain,Snow Grains                              1
Thunderstorms,Rain,Fog                        1
Snow Pellets                                  1
Freezing Rain,Ice Pellets,Fog                 1
Thunderstorms,Heavy Rain Showers              1
Moderate Rain,Fog                             1
Thunderstorms,Moderate Rain Showers,Fog       1
Name: Weather, dtype: int64

In [11]:
# t0 get unique values from all the columns
dataframe.nunique()

Date/Time          8784
Temp_C              533
Dew_point_TempC     489
Humidity             83
Wind_speed_km\h      34
Visibility_km        24
Press_kPa           518
Weather              50
dtype: int64

In [12]:
# to check  any null values in dataframe
# as we can see there are no null values
dataframe.count()

Date/Time          8784
Temp_C             8784
Dew_point_TempC    8784
Humidity           8784
Wind_speed_km\h    8784
Visibility_km      8784
Press_kPa          8784
Weather            8784
dtype: int64

# info () provide the basic information about the dataframe

In [13]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date/Time        8784 non-null   object
 1   Temp_C           8784 non-null   float64
 2   Dew_point_TempC  8784 non-null   float64
 3   Humidity         8784 non-null   int64
 4   Wind_speed_km\h  8784 non-null   int64
 5   Visibility_km    8784 non-null   float64
 6   Press_kPa        8784 non-null   float64
 7   Weather          8784 non-null   object
dtypes: float64(4), int64(2), object(2)
memory usage: 549.1+ KB

# Now we will perfrom some task to know about the data in more detail

In [14]:
dataframe.head(8)

,Date/Time,Temp_C,Dew_point_TempC,Humidity,Wind_speed_km\h,Visibility_km,Press_kPa,Weather
0,01-01-2012 00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,01-01-2012 01:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,01-01-2012 02:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,01-01-2012 03:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,01-01-2012 04:00,-1.5,-3.3,88,7,4.8,101.23,Fog
5,01-01-2012 05:00,-1.4,-3.3,87,9,6.4,101.27,Fog
6,01-01-2012 06:00,-1.5,-3.1,89,7,6.4,101.29,Fog
7,01-01-2012 07:00,-1.4,-3.6,85,7,8.0,101.26,Fog

# Find all the unique entry in Rel Hum_% column

In [15]:
dataframe['Humidity'].unique()

array([ 86,  87,  89,  88,  85,  91,  82,  81,  84,  79,  77,  72,  71,
        69,  70,  68,  67,  66,  56,  57,  59,  55,  54,  58,  65,  53,
        60,  61,  63,  52,  50,  49,  62,  51,  75,  73,  80,  83,  76,
        64,  74,  78,  47,  90,  48,  45,  46,  92,  93,  42,  43,  40,
        39,  44,  94,  37,  41,  38,  96,  98,  99,  97,  95, 100,  29,
        28,  27,  19,  20,  18,  25,  26,  30,  24,  34,  33,  31,  32,
        35,  36,  21,  22,  23], dtype=int64)

# Find the value where the weather is cloudy

In [16]:
dataframe["Weather"].value_counts()

Mainly Clear                               2106
Mostly Cloudy                              2069
Cloudy                                     1728
Clear                                      1326
Snow                                        390
Rain                                        306
Rain Showers                                188
Fog                                         150
Rain,Fog                                    116
Drizzle,Fog                                  80
Snow Showers                                 60
Drizzle                                      41
Snow,Fog                                     37
Snow,Blowing Snow                            19
Rain,Snow                                    18
Haze                                         16
Thunderstorms,Rain Showers                   16
Drizzle,Snow,Fog                             15
Freezing Rain                                14
Freezing Drizzle,Snow                        11
Freezing Drizzle                              7
Freezing Drizzle,Fog                          6
Snow,Ice Pellets                              6
Snow,Haze                                     5
Freezing Rain,Fog                             4
Rain,Snow,Ice Pellets                         4
Freezing Fog                                  4
Moderate Snow                                 4
Snow Showers,Fog                              4
Freezing Drizzle,Haze                         3
Thunderstorms,Rain                            3
Thunderstorms,Rain Showers,Fog                3
Rain,Haze                                     3
Thunderstorms                                 2
Moderate Snow,Blowing Snow                    2
Freezing Rain,Haze                            2
Drizzle,Snow                                  2
Rain Showers,Snow Showers                     2
Freezing Rain,Snow Grains                     1
Rain Showers,Fog                              1
Rain,Snow,Fog                                 1
Rain,Ice Pellets                              1
Drizzle,Ice Pellets,Fog                       1
Rain,Snow Grains                              1
Thunderstorms,Rain,Fog                        1
Snow Pellets                                  1
Freezing Rain,Ice Pellets,Fog                 1
Thunderstorms,Heavy Rain Showers              1
Moderate Rain,Fog                             1
Thunderstorms,Moderate Rain Showers,Fog       1
Name: Weather, dtype: int64

In [17]:
#this code return the output in boolean form------>>>>> dataframe.Weather=="Cloudy 

dataframe[dataframe.Weather=="Cloudy"]

# as we can see from the previous output total cloudy=1728

,Date/Time,Temp_C,Dew_point_TempC,Humidity,Wind_speed_km\h,Visibility_km,Press_kPa,Weather
17,01-01-2012 17:00,3.0,0.0,81,13,16.1,99.81,Cloudy
20,01-01-2012 20:00,3.2,1.3,87,19,25.0,99.50,Cloudy
21,01-01-2012 21:00,4.0,1.7,85,20,25.0,99.39,Cloudy
23,01-01-2012 23:00,5.3,2.0,79,30,25.0,99.31,Cloudy
25,01-02-2012 01:00,4.6,0.0,72,39,25.0,99.26,Cloudy
...,...,...,...,...,...,...,...,...
8761,12/31/2012 1:00,-10.7,-14.0,77,15,25.0,101.50,Cloudy
8762,12/31/2012 2:00,-10.1,-13.4,77,9,25.0,101.45,Cloudy
8764,12/31/2012 4:00,-10.5,-12.8,83,11,25.0,101.34,Cloudy
8765,12/31/2012 5:00,-10.2,-12.4,84,6,25.0,101.28,Cloudy
8766,12/31/2012 6:00,-9.7,-11.7,85,4,25.0,101.23,Cloudy

# Find the value where Temp_C is less than 1

In [18]:
dataframe[dataframe["Temp_C"]>=1].head()

,Date/Time,Temp_C,Dew_point_TempC,Humidity,Wind_speed_km\h,Visibility_km,Press_kPa,Weather
15,01-01-2012 15:00,1.8,-0.4,85,22,6.4,100.07,Fog
16,01-01-2012 16:00,2.6,-0.2,82,13,12.9,99.93,Mostly Cloudy
17,01-01-2012 17:00,3.0,0.0,81,13,16.1,99.81,Cloudy
18,01-01-2012 18:00,3.8,1.0,82,15,12.9,99.74,Rain
19,01-01-2012 19:00,3.1,1.3,88,15,12.9,99.68,Rain

# Find null value in dataframe

In [19]:
dataframe.isnull().sum()
# dataframe.notnull().sum()

Date/Time          0
Temp_C             0
Dew_point_TempC    0
Humidity           0
Wind_speed_km\h    0
Visibility_km      0
Press_kPa          0
Weather            0
dtype: int64

# Find mean of Wind_speed_km\h

In [20]:
dataframe['Wind_speed_km\h'].mean()

14.94546903460838

# Find mean of Visibility_km

In [21]:
dataframe.Visibility_km.mean()

27.66444672131151

# Find the standard deviation of Temp_C

In [22]:
dataframe["Temp_C"].std()

11.687882769691226

# Find varience  of Press_kPa

In [23]:
dataframe.Press_kPa.var()

0.7123440111838408

# Show the result of march month

In [24]:
dataframe["Date/Time"].count()

8784

In [72]:
dataframe[dataframe["Date/Time"].str.contains("03-")].head(15)

,Date/Time,Temp_C,Dew_point_TempC,Humidity,Wind_speed_km\h,Visibility_km,Press_kPa,Weather
48,01-03-2012 00:00,-9.0,-16.0,57,28,25.0,100.35,Snow Showers
49,01-03-2012 01:00,-9.7,-17.2,54,20,25.0,100.43,Cloudy
50,01-03-2012 02:00,-10.5,-15.8,65,22,12.9,100.53,Snow Showers
51,01-03-2012 03:00,-11.3,-18.7,54,33,25.0,100.61,Snow Showers
52,01-03-2012 04:00,-12.6,-20.1,53,24,25.0,100.68,Cloudy
53,01-03-2012 05:00,-12.9,-19.1,60,22,25.0,100.76,Snow Showers
54,01-03-2012 06:00,-13.3,-19.3,61,19,25.0,100.85,Snow Showers
55,01-03-2012 07:00,-14.0,-19.5,63,19,25.0,100.95,Snow
56,01-03-2012 08:00,-14.8,-21.3,58,26,24.1,101.07,Mostly Cloudy
57,01-03-2012 09:00,-15.0,-21.9,56,19,24.1,101.20,Mostly Cloudy
58,01-03-2012 10:00,-15.3,-22.2,56,24,24.1,101.29,Cloudy
59,01-03-2012 11:00,-14.9,-22.2,54,22,24.1,101.33,Mostly Cloudy
60,01-03-2012 12:00,-14.9,-22.6,52,20,24.1,101.34,Mainly Clear
61,01-03-2012 13:00,-15.1,-22.4,54,22,24.1,101.34,Mainly Clear
62,01-03-2012 14:00,-14.9,-22.9,50,22,24.1,101.38,Mainly Clear

# show the result of  only Clear day recorded

In [26]:
dataframe['Weather'].value_counts()
# as there are 1326 clear day recorded

Mainly Clear                               2106
Mostly Cloudy                              2069
Cloudy                                     1728
Clear                                      1326
Snow                                        390
Rain                                        306
Rain Showers                                188
Fog                                         150
Rain,Fog                                    116
Drizzle,Fog                                  80
Snow Showers                                 60
Drizzle                                      41
Snow,Fog                                     37
Snow,Blowing Snow                            19
Rain,Snow                                    18
Haze                                         16
Thunderstorms,Rain Showers                   16
Drizzle,Snow,Fog                             15
Freezing Rain                                14
Freezing Drizzle,Snow                        11
Freezing Drizzle                              7
Freezing Drizzle,Fog                          6
Snow,Ice Pellets                              6
Snow,Haze                                     5
Freezing Rain,Fog                             4
Rain,Snow,Ice Pellets                         4
Freezing Fog                                  4
Moderate Snow                                 4
Snow Showers,Fog                              4
Freezing Drizzle,Haze                         3
Thunderstorms,Rain                            3
Thunderstorms,Rain Showers,Fog                3
Rain,Haze                                     3
Thunderstorms                                 2
Moderate Snow,Blowing Snow                    2
Freezing Rain,Haze                            2
Drizzle,Snow                                  2
Rain Showers,Snow Showers                     2
Freezing Rain,Snow Grains                     1
Rain Showers,Fog                              1
Rain,Snow,Fog                                 1
Rain,Ice Pellets                              1
Drizzle,Ice Pellets,Fog                       1
Rain,Snow Grains                              1
Thunderstorms,Rain,Fog                        1
Snow Pellets                                  1
Freezing Rain,Ice Pellets,Fog                 1
Thunderstorms,Heavy Rain Showers              1
Moderate Rain,Fog                             1
Thunderstorms,Moderate Rain Showers,Fog       1
Name: Weather, dtype: int64

In [27]:
dataframe[dataframe["Weather"]=="Clear"].head(10)

,Date/Time,Temp_C,Dew_point_TempC,Humidity,Wind_speed_km\h,Visibility_km,Press_kPa,Weather
67,01-03-2012 19:00,-16.9,-24.8,50,24,25.0,101.74,Clear
114,01-05-2012 18:00,-7.1,-14.4,56,11,25.0,100.71,Clear
115,01-05-2012 19:00,-9.2,-15.4,61,7,25.0,100.80,Clear
116,01-05-2012 20:00,-9.8,-15.7,62,9,25.0,100.83,Clear
117,01-05-2012 21:00,-9.0,-14.8,63,13,25.0,100.83,Clear
241,01-11-2012 01:00,-10.7,-17.8,56,17,25.0,101.49,Clear
242,01-11-2012 02:00,-12.0,-18.9,56,19,25.0,101.57,Clear
243,01-11-2012 03:00,-12.7,-19.4,57,19,25.0,101.64,Clear
244,01-11-2012 04:00,-13.4,-20.1,57,17,25.0,101.66,Clear
344,1/15/2012 8:00,-23.3,-28.5,62,7,24.1,102.45,Clear

# Find the data where the humidity is 57 and Weather is Rain

In [58]:
dataframe[(dataframe["Humidity"]==91) & (dataframe["Weather"]=="Rain")]

,Date/Time,Temp_C,Dew_point_TempC,Humidity,Wind_speed_km\h,Visibility_km,Press_kPa,Weather
555,1/24/2012 3:00,5.0,3.6,91,19,9.7,100.19,Rain
1098,2/15/2012 18:00,1.5,0.2,91,7,9.7,101.85,Rain
1099,2/15/2012 19:00,1.5,0.2,91,7,9.7,101.89,Rain
1100,2/15/2012 20:00,1.5,0.2,91,7,6.4,101.91,Rain
7016,10/19/2012 8:00,11.7,10.2,91,13,16.1,100.92,Rain
7020,10/19/2012 12:00,13.0,11.5,91,11,16.1,100.77,Rain
7352,11-02-2012 08:00,3.9,2.5,91,17,24.1,99.58,Rain
8451,12/18/2012 3:00,0.4,-0.9,91,24,16.1,100.24,Rain
8452,12/18/2012 4:00,0.5,-0.8,91,24,11.3,100.15,Rain

# Find the Dew_point_TempC is 0.51 and Visibility_km is greater than 40

In [61]:
dataframe[(dataframe.Dew_point_TempC==11) & (dataframe.Visibility_km>40)]

,Date/Time,Temp_C,Dew_point_TempC,Humidity,Wind_speed_km\h,Visibility_km,Press_kPa,Weather
1865,3/18/2012 17:00,21.8,11.0,50,6,48.3,101.32,Mostly Cloudy
1936,3/21/2012 16:00,25.5,11.0,40,17,48.3,101.69,Clear
3373,5/20/2012 13:00,29.5,11.0,32,9,48.3,101.78,Mainly Clear
3706,06-03-2012 10:00,17.7,11.0,65,13,48.3,100.19,Mostly Cloudy
4024,6/16/2012 16:00,26.5,11.0,38,7,48.3,101.77,Mostly Cloudy
4806,7/19/2012 6:00,15.2,11.0,76,6,48.3,101.25,Mainly Clear
5560,8/19/2012 16:00,23.5,11.0,45,13,48.3,100.74,Cloudy

# check the data where Wind_speed_km\h is 17 in August month and Weather is Mostly cloudy

In [76]:
dataframe[dataframe["Date/Time"].str.contains("8/") & (dataframe["Wind_speed_km\h"]==17) & (dataframe["Weather"]=="Mostly Cloudy")]

,Date/Time,Temp_C,Dew_point_TempC,Humidity,Wind_speed_km\h,Visibility_km,Press_kPa,Weather
651,1/28/2012 3:00,0.4,-3.0,78,17,25.0,100.59,Mostly Cloudy
1408,2/28/2012 16:00,-4.3,-12.4,53,17,48.3,102.54,Mostly Cloudy
3329,5/18/2012 17:00,20.9,2.5,30,17,48.3,101.59,Mostly Cloudy
4063,6/18/2012 7:00,19.3,13.4,69,17,48.3,101.16,Mostly Cloudy
4064,6/18/2012 8:00,20.6,14.0,66,17,48.3,101.17,Mostly Cloudy
4065,6/18/2012 9:00,22.0,14.4,62,17,48.3,101.15,Mostly Cloudy
5022,7/28/2012 6:00,18.1,11.5,65,17,48.3,101.20,Mostly Cloudy
5024,7/28/2012 8:00,20.3,11.5,57,17,48.3,101.25,Mostly Cloudy
5032,7/28/2012 16:00,25.8,11.9,42,17,48.3,101.10,Mostly Cloudy
5033,7/28/2012 17:00,26.2,10.6,38,17,48.3,101.10,Mostly Cloudy
5412,8/13/2012 12:00,23.8,17.4,67,17,24.1,100.85,Mostly Cloudy
5530,8/18/2012 10:00,18.3,11.6,65,17,24.1,100.83,Mostly Cloudy
5559,8/19/2012 15:00,23.5,11.3,46,17,48.3,100.77,Mostly Cloudy
5578,8/20/2012 10:00,21.6,14.2,63,17,48.3,100.77,Mostly Cloudy
5608,8/21/2012 16:00,23.1,11.9,49,17,48.3,101.14,Mostly Cloudy
5744,8/27/2012 8:00,24.7,16.7,61,17,24.1,101.33,Mostly Cloudy
5779,8/28/2012 19:00,19.3,7.4,46,17,25.0,100.87,Mostly Cloudy
5849,8/31/2012 17:00,25.0,18.4,67,17,24.1,100.41,Mostly Cloudy
6268,9/18/2012 4:00,16.2,12.9,81,17,25.0,100.59,Mostly Cloudy
6518,9/28/2012 14:00,16.7,8.7,59,17,24.1,101.37,Mostly Cloudy
6520,9/28/2012 16:00,14.2,10.0,76,17,24.1,101.33,Mostly Cloudy
6521,9/28/2012 17:00,13.3,10.1,81,17,24.1,101.34,Mostly Cloudy
7002,10/18/2012 18:00,16.0,5.1,48,17,25.0,100.80,Mostly Cloudy
7004,10/18/2012 20:00,14.9,5.7,54,17,25.0,100.90,Mostly Cloudy
7005,10/18/2012 21:00,13.8,6.0,59,17,25.0,100.95,Mostly Cloudy
8696,12/28/2012 8:00,-5.2,-7.0,87,17,24.1,101.15,Mostly Cloudy
8697,12/28/2012 9:00,-5.5,-8.0,83,17,24.1,101.23,Mostly Cloudy